node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.prod
.env.*
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
tmp

*.xlsx
*.csv
/src/generated/prisma
/generated/prisma
*.xls
*.jsonld

temp-data
